#mailtext {
    text-decoration: none;
    color: black;
}

.table-stripped th{
    border-top: 1px solid #494a3c;
    background: #494a3c !important;
    color: #ece0be;
    text-shadow: 1px 1px 2px black, 0 0 25px brown, 0 0 5px darkblue;
}

.table-stripped td{
     border-top: 1px solid #494a3c;
}

.col {
    margin: 1%;
    text-align: justify;
}
.col h3{
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}
        
body {
    background: #81734d;
}

.container {
    background: #ece0be;
    box-shadow: 10px 10px 15px;
}

#navigationBar {
    background: #494a3c;
    text-shadow: 1px 1px 2px black, 0 0 25px brown, 0 0 5px darkblue;
    border: 2px solid black;
}

#navigationBar a {
    text-decoration: none;
    color: #ece0be;
}

#aboutUs{
    text-align: justify;
    padding-top: 2%;
}

#congressment{
    text-align: justify;
    padding-top: 2%;
    margin-left: 2%;
}

#backgroundHistory{
    text-align: justify;
    padding-bottom: 2%;
}

#moreAboutbtn{
    background: #ece0be;
    border: none;
}

#footer {
    background: #494a3c;
    color: #ece0be;
    text-shadow: 1px 1px 2px black, 0 0 25px brown, 0 0 5px darkblue;
    border: 2px solid black;
}

#filterByParty {
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 1%;
}

#table-data{
    width: 90%;
    margin-left: 5%;
    
}

#topBtn{
    position: fixed;
    bottom: 2%;
    right: 2%;
    font-size: 22px;
    width: 50px;
    height: 50px;
    background: #494a3c;
    color: #ece0be;
    border: none;
    text-shadow: 1px 1px 2px black, 0 0 25px brown, 0 0 5px darkblue;
    cursor: pointer;
    display: none;
        
}
