@media only screen and (min-width : 1400px) {

    .container {
        width: 20000px;
    }

    .col-lg-6 {
        border: 3px solid red;
    }

    table {
        border: 3px solid red;
        width: inherit;
    }


    nav {
        border: 3px solid red;
        flex-flow: row;
    }

    .footer {
        display: inline-block;
    }

   